<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bomberos.DAL.Properties.Settings.db_bom_19_com_smConnectionString"
            connectionString="server=localhost;user id=root;database=db_bom_19_com_sm"
            providerName="MySql.Data.MySqlClient" />
        <add name="Bomberos.DAL.Properties.Settings.db_bom_19_com_smConnectionString1"
            connectionString="server=localhost;user id=root;database=db_bom_19_com_sm;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>